
  

.push{
  display: inline;
}
.save{
  margin:auto;
  display: table;
  border-radius: 5px;
  background: rosybrown;
  color: brown;
  border: 2px solid black;
  height: 50px;
  width: 250px;
  font-weight: bold;

}::placeholder{
  text-align: center;
  color: cornflowerblue;
  font-weight: bold;
}
.views{
  border: 2px solid black;
  width: 75%;
  height: 50px;
  background-color: blueviolet;
  margin:auto;

}
