
h1{
  color: darkorchid
}

  .views{
    /* border: 2px solid black; */
    width: 75%;
    height: 130px;
    background-color: violet;
    margin:auto;
    border-radius: 30px;
  
}.total{
  color:black;
  font-weight: bold;
text-align: center;
  margin: auto;
  border :3px solid rgb(156, 43, 141);
  height:50px;
  width: 90px;
  border-radius: 10px;
  position: absolute;
  left: 46%;
  top: 115px;

}
.btnEdit{
  background-color: deeppink;
  border-radius: 10px;
  height: 50px;
  width: 100px;
  font-weight: bold;
  position: absolute;
  right: 25%;
  top: 115px
  /* display: block; */
  /* margin-top: 30px; */;
  -webkit-box-shadow: 3px 0px 13px 8px rgba(112,39,112,0.57);
  -moz-box-shadow: 3px 0px 13px 8px rgba(112,39,112,0.57);
  box-shadow: 3px 0px 13px 8px rgba(112,39,112,0.57);
  border: 2px solid darkmagenta;

}